<% if params[:page] <= 0 %>
<a href="" class="gray">First</a>
<% else %>
<%= link_to "First", commissioning_forms_path( page: @page, request: "first") %>
<% end %>

<% if params[:search] %>
<a href="" class="gray">Next</a>
<a href="" class="gray">Back</a>
<% else %>
<% if params[:page] >= CommissioningForm.count - 10 %>
<a href="" class="gray">Next</a>
<% else %>
<%= link_to "Next", commissioning_forms_path( page: @page, request: "next") %>
<% end %>

<% if params[:page] <= 0 %>
<a href="" class="gray">Back</a>
<% else %>
<%= link_to "Back", commissioning_forms_path( page: @page, request: "back") %>
<% end %>
<% end %>
<% if params[:page] >= CommissioningForm.count - 10 %>
<a href="" class="gray">Last</a>
<% else %>
<%= link_to "Last", commissioning_forms_path( page: @page, request: "last") %>
<% end %>